body {
    background: rgb(98, 170, 103);
    background: linear-gradient(0deg, rgba(98, 170, 103, 1) 29%, rgba(98, 170, 103, 1) 60%, rgba(224, 220, 212, 0.8883928571428571) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

form {
    width: 600px;
    border: 2px solid black;
    padding: 4rem;
    background-color: #80af83;
    border: none;
    border-radius: 20px;
    color: aliceblue;
}

h1 {
    display: block;
    border: none;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

label {
    color: aliceblue;
    font-size: 18px;
    padding: 10px;
    font-weight: 300;
}

input {
    display: block;
    border: 2px solid black;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

button {
    float: right;
    background-color: #306D4A;
    padding: .5rem;
    color: white;
    border: none;
    width: 40%;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
}

button:hover {
    background-color: whitesmoke;
    color: #80af83;
}

a {
    float: left;
    margin-left: 10px;
    padding: .5rem;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
}

.error {
    background-color: rgb(206, 59, 59);
    color: black;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
